.answer-container{
     font-size: 24px;
}
.asterisk{
    display: None;
}

.question-text{
    font-size: 24px;
}

.label-text{
    margin-top: -34px;
}

.form-control.text.input-sm.empty{
    margin-top: 10px;
}