.group-description, .answer-container, .question-help-container {
    display: none;
}

.feedback {
    font-size: 24px;
}

#loadallbtnlink {
    display: None
}

#clearallbtnlink {
    display: None
}

#saveallbtnlink {
    display: None
}